<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Complete Test Suite" parallel="tests" thread-count="2" verbose="2">

    <listeners>
        <listener class-name="org.automation.listeners.UnifiedReportListener"/>
        <listener class-name="org.automation.listeners.TestListener"/>
        <listener class-name="org.automation.listeners.ScreenshotListener"/>
        <listener class-name="org.automation.listeners.ReportListener"/>
        <listener class-name="org.automation.listeners.ApiReportListener"/>
    </listeners>

    <!-- UI Test Suite -->
    <test name="UI Tests" parallel="methods" thread-count="3">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="org.automation.ui.BlazeDemoTests"/>
        </classes>
    </test>

    <!-- API Test Suite -->
    <test name="API Tests" parallel="methods" thread-count="5">
        <classes>
            <class name="org.automation.api.JsonPlaceholderTests"/>
        </classes>
    </test>
</suite>
