<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Spring Boot</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
            background-color: #f4f4f9;
        }
        h1 {
            color: #4CAF50;
        }
        p {
            font-size: 18px;
            color: #333;
        }
    </style>
</head>
<body>
<h1 th:text="${message}">Hello, Spring Boot!</h1>
<p>Hello Everyone! I am CHANDRAKANT.</p>
</body>
</html>
