<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationFrameworkSuite" parallel="tests" thread-count="5">

    <!-- UI Tests Suite -->
    <test name="UITests" parallel="methods" thread-count="3">
        <parameter name="browser" value="chrome"/>
        <parameter name="environment" value="test"/>
        <classes>
            <!-- Add your actual UI test classes here -->
        </classes>
    </test>

    <!-- API Tests Suite -->
    <test name="APITests" parallel="methods" thread-count="2">
        <parameter name="environment" value="test"/>
        <classes>
            <class name="org.example.tests.api.ReqResAPITests"/>
        </classes>
    </test>

    <!-- Smoke Tests Suite -->
    <test name="SmokeTests" parallel="methods" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <parameter name="environment" value="test"/>
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="org.example.tests.api.ReqResAPITests"/>
        </classes>
    </test>

    <!-- Regression Tests Suite -->
    <test name="RegressionTests" parallel="classes" thread-count="3">
        <parameter name="browser" value="chrome"/>
        <parameter name="environment" value="test"/>
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="org.example.tests.api.ReqResAPITests"/>
        </classes>
    </test>

</suite>
